/* 	================= 
		CHAPTER5.CSS
	================= */

/* Positioning */
/* Box-model */
/* Typography */
/* Visual */
/* Misc */

/* 	==============================================
		BEGIN AUTHOR STYLING
	============================================== */

/** {
	background-color: rgba(0,0,0,0.3);
}*/

.left {
	float: left;
	width: 45%;
	margin-left: 2%;
}

.right {
	float: right;
	width: 45%;
	margin-right: 2%;
}

#one {
	-ms-transform: rotate(3deg); /* IE 9 */
    -webkit-transform: rotate(3deg); /* Chrome, Safari, Opera */
    transform: rotate(3deg);
}

#two {
	-ms-transform: rotate(-2deg); /* IE 9 */
    -webkit-transform: rotate(-2deg); /* Chrome, Safari, Opera */
    transform: rotate(-2deg);
}

#three {
	-ms-transform: rotate(-4deg); /* IE 9 */
    -webkit-transform: rotate(-4deg); /* Chrome, Safari, Opera */
    transform: rotate(-4deg);
}

.text-left,
.text-right {
	float: left;
	width: 30%;
	text-align: justify;
}

.text-left {
	margin-right: 5%;
}


/* 	=============================
		TEXT STYLING
	============================= */

.left h1,
.right h1,
 {
	width: 70%;
	margin-left: 15%;
	margin-top: 10px;
	text-align: center;
	font-family: monospace;
	font-size: 12px;
	line-height: 18px;
	font-weight: normal;
	color: blue;
}

.quote-text h1,
.quote-text h2 {
	font-family: 'PT Serif Caption', serif;
	font-size: 24px;
	line-height: 38px;
	color: #ffcaca;
	text-align: justify;
}

.quote-text h2 {
	font-style: italic;
	/*color: blue;*/

	font-size: 18px;
}

/* 	=============================
		IMG STYLING
	============================= */

.left img,
.right img {
	width: 100%;
}

.video-wrapper {
	width:100%; 
	height:100%;
}

.h_iframe {
	position:relative; 
	padding-top: 56%;
}

.h_iframe iframe {
	position:absolute;
	top:0;left:0;
	width:100%; 
	height:100%;
}


/*  =======================
    MEDIA QUERIES
    ======================= */

@media (max-width: 900px) { 
	.quote-text h1,
	.quote-text h2 {
		font-size: 18px;
		line-height: 28px;
	}

	.quote-text h2 {
		font-size: 14px;
	}
}

@media (max-width: 750px) { 

	.left,
	.right {
		float: none;
		width: 80%;
		margin-left: 10%;
		margin-right: 0;
		
	}

	.left {
		margin-bottom: 40px;
	}

	.text-left,
	.text-right {
		float: none;
		width: 100%;
		text-align: justify;
	}

	.text-left {
		margin-bottom: 5%;
	}

	.quote-text h1,
	.quote-text h2 {
		font-size: 24px;
		line-height: 38px;
	}

	.quote-text h2 {
		font-size: 18px;
	}

	.last {
		margin-bottom: 35px;
	}
}

@media (max-width: 550px) { 
	
	.quote-text h1,
	.quote-text h2 {
		font-size: 18px;
		line-height: 28px;
	}

	.quote-text h2 {
		font-size: 14px;
	}
	
}



